<p>
  <strong>Status:</strong>
  <%= @job_estimate_status.status %>
</p>

<%= link_to 'Edit', edit_job_estimate_status_path(@job_estimate_status) %> |
<%= link_to 'Back', job_estimate_statuses_path %>
