<h1>Listing Unit Of Measurement</h1>

<table>
  <thead>
    <tr>
      <th>Unit</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_of_measurements.each do |unit_of_measurement| %>
      <tr>
        <td><%= unit_of_measurement.unit %></td>
        <td><%= link_to 'Edit', edit_unit_of_measurement_path(unit_of_measurement) %></td>
        <td><%= link_to 'Delete', unit_of_measurement, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit of measurement', new_unit_of_measurement_path %>
