<p id="notice"><%= notice %></p>

<p>
  <strong>Task type:</strong>
  <%= @task_type.task_type %>
</p>

<%= link_to 'Edit', edit_task_type_path(@task_type) %> |
<%= link_to 'Back', task_types_path %>
