<h1>Editing Job estimate</h1>

<%= render 'form' %>

<%= link_to 'Back', customer_job_site_job_estimates_path(:customer_id=>@customer.id, :id=>@job_estimate.id,:job_site_id=>@job_estimate.job_site_id) %>
