<p id="notice"><%= notice %></p>

<p>
  <strong>Roof type:</strong>
  <%= @roof_type.roof_type %>
</p>

<%= link_to 'Edit', edit_roof_type_path(@roof_type) %> |
<%= link_to 'Back', roof_types_path %>
