<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @customer_type.type %>
</p>

<%= link_to 'Edit', edit_customer_type_path(@customer_type) %> |
<%= link_to 'Back', customer_types_path %>
